:root {
  --color1: #456e10;
  --color2: rgb(233, 229, 211);
  --color3: rgb(191, 189, 181);
}

body {
  font-family: sans-serif, Garamond;
  letter-spacing: 1px;
  line-height: 24px;
  background-color: rgb(238, 237, 231);
  margin: 0;
}

section {
  margin: 70px 30px;
}

h1 {
  font-size: 30px;
  font-weight: 100;
  color: var(--color1);
}

p {
  margin: 30px 20px;
}

code {
  background-color: var(--color2);
  display: block;
  padding: 20px;
  margin: 5px 40px;
  border-radius: 5px;
  color: var(--color1);
  font-size: 14px;
}

section li {
  margin: 2px 2px 2px 15px;
}

#navbar li {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color1);
}

a:hover {
  color: #8bd32d;
}

a:visited {
  color: rgb(194, 15, 119);
}



 #navbar {
    height: 243px;
    width: 100%;
    margin: 0;
    background-color: var(--color2);
    top: 0;
    left: 0;
    overflow: auto;
    border-bottom: 2px solid var(--color3);
  }

  #navbar header {
    text-align: center;
    font-size: 23px;
    padding: 22px 10px 10px 10px;
    color: #4d6e21;
  }

  #navbar li {
    list-style: none;
    margin-left: -40px;
    border-top: 1px solid var(--color3);
    padding: 5px 30px;
    font-size: 16px;
  }





@media (min-width: 1200px) {
  
  #navbar {
    height: 100%;
    width: 260px;
    border-right: 1px solid var(--color3);
    position: fixed;
  }

  #navbar header {
    font-size: 20px;
    padding: 20px 10px 10px 10px;
  }

  #navbar li {
    padding: 5px 20px;
  }

  #main-doc {
    margin: 15px 15px 15px 270px;
  }

}
